[run]
  branch = True
source =
	src/python
omit =
  */__init__.py,
  */factory.py
  */dev_mixin.py
  */qrc.py

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover_all
    pragma: no cover_linux
    def __repr__
    if __name__ == "__main__"

