pyside2==5.14.1
pony==0.7.11
dickens==1.0.1
pyinstaller==3.6
Pillow==7.1.2
mako==1.1.2

#dev
coverage
beautifulsoup4
black
freezegun
pytest
pytest-freezegun
pytest-qt
aqtinstall==0.8
mimesis
jsbeautifier==1.11

