<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>###PAGE TITLE###</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="display.css">
    </head>
    <body>
        <div class="page">
            <!-- Section "Texte" -->
            <div class="section texte">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptatem ex tempora sunt dolor,
                    velit, unde, sit amet beatae doloribus incidunt qui accusamus assumenda dolorem fugiat ratione vitae.<br/>
                    Repudiandae, nihil!
                </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus facere laborum fugit,
                    assumenda veniam non exercitationem eum soluta, quo quis rerum?<br/>
                    Iste fugiat inventore dolorem eos impedit! Distinctio, maiores consectetur.
                </p>
            </div>

            <!-- Section "Image" -->
            <div class="section image" style="background-image: url('https://s1.studylibfr.com/store/data/005134057_1-064a5f5329887db4cda3f87ee62f5715.png');">
                <img src="https://s1.studylibfr.com/store/data/005134057_1-064a5f5329887db4cda3f87ee62f5715.png"/>

                <!-- Annotation -->
                <div class="annotation txt-blue" style="left: 162px;top: 59px;">Axel Girardet</div>

                <!-- Annotation -->
                <div class="annotation txt-red" style="left: 35px; top: 531px">C'est ta mère qui écrit</div>

                <!-- Marqueur (Stabilo)-->
                <!-- Marqueur -->
                <div class="marqueur bg-blue" style="left: 143px;top: 273px;width: 95px;height: 30px;"></div>
            </div>

            <!-- Section Operation -->
            <div class="section operation">
                <table>
                    <tbody>
                        <tr><td></td><td>3</td><td>4</td><td>2</td><td>,</td><td>5</td><td>2</td></tr>
                        <tr><td>+</td><td></td><td>1</td><td>1</td><td>,</td><td>0</td><td>2</td></tr>
                        <tr><th colspan="7"></th></tr>
                        <tr><td></td><td>3</td><td>5</td><td>3</td><td>,</td><td>5</td><td>4</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>