<%doc>
    Section "Image":
    Variables list:
    path: URL / Chemin vers l'image
    annotations: Liste des annotations
        Annotation variables:
        - relativeX: Position X relative à l'image
        - relativeY: Position Y relative à l'image
        - text: Contenu de l'annotation
        - style: Couleur du texte. Formats acceptés: rgb(R,G,B), Hexa #RRGGBB
    stabylos: Liste des stabylos
        Stabylo variables:
            - relativeX: Position X relative à l'image
            - relativeY: Position Y relative à l'image
            - relativeWidth: Largeur du stabylo
            - relativeHeight: Hauteur du stabylo
            - style: Couleur de fond du stabylo. Formats acceptés: rgb(R,G,B), Hexa #RRGGBB

    => Les Stabylos ont automatiquement une opacité à 0.4
    => Les positions des Stabylos et Annotations sont relatives à l'image.
</%doc>

<div class="section image" style="background-image: url('${path}');">
    <img src="${path}"/>
    % for annotation in annotations:
        <!-- Annotation -->
        <div class="annotation" style="color: ${annotation.style}; left: ${annotation.relativeX}px;top: ${annotation.relativeY}px;">${annotation.text}</div>
    % endfor

    % for stabylo in stabylos:
        <!-- Marqueur -->
        <div class="stabylo" style="background-color: ${stabylo.style}; left: ${stabylo.relativeX}px;top: ${stabylo.relativeY}px;width: ${stabylo.relativeWidth}px;height: ${stabylo.relativeHeight}px;"></div>
</div>